html {
    background-color: hsl(218, 73%, 86%);
    font-family: 'Outfit', sans-serif;
    
}
p {
    font-size: 15px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

main {
    width: 21.5rem;
    height: 33rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.5rem;
}

main img {
    width: 90%;
    margin: 1.1rem;
    border-radius: 10px;
}

section {
    line-height: 1.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1 {
    width: 80%;
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 1.3rem;
}

section p {
    width: 80%;
    font-size: 1rem;
    line-height: normal;
    color: hsl(220, 15%, 55%);
}
